.header {
  text-align: center;
  padding: 4em;
  /* border-bottom: 1px solid #edeaea; */
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
}

.header h2 {
  font-size: 2rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.header p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.branding_container {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: auto;
}

.item {
  border: 1px solid #edeaea;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;

}

.item img {
  width: 60%;
  vertical-align: middle;
  border-style: none;
}

.item p {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.item h3 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10%;
}

@media (max-width: 1080px) {
  .header {
    text-align: center;
    padding: 4em;
    /* border-bottom: 1px solid #edeaea; */
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
  }

  .header h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .header p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .branding_container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
  }

  .item {
    border: 1px solid #edeaea;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;

  }

  .item img {
    width: 60%;
    vertical-align: middle;
    border-style: none;
  }

  .item p {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .item h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10%;
  }
}

@media (max-width: 800px) {
  .header {
    text-align: center;
    padding: 4em;
    /* border-bottom: 1px solid #edeaea; */
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
  }

  .header h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .header p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .branding_container {
    /* display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .item {
    border: 1px solid #edeaea;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;

  }

  .item img {
    width: 40%;
    vertical-align: middle;
    border-style: none;
  }

  .item p {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .item h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10%;
  }
}