.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.container_work_first {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: showFirst 2s forwards;
}

.container_work_first img {
  width: 60%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}

.info h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
}

.info p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  width: 90%;
  text-align: left;
}

.info button {
  width: 100px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0.6em;
  color: white;
  background-color: #2ea1b4;
  transition: 0.5s background-color ease-in;
}

.info button:hover {
  transition: background-color 0.5s ease-out;
  background-color: #20707e;
}


.container_work_second {
  display: flex;
  align-items: center;
  position: relative;
  top: -20px;

  flex-direction: row-reverse;

  animation: showTwo 2s forwards;
}

.container_work_second img {
  width: 60%;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

@keyframes showFirst {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes showTwo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3em;
  }

  .container_work_first {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: showFirst 2s forwards;
  }

  .container_work_first img {
    width: 60%;
    height: auto;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
  }

  .info h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
  }

  .info p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    width: 90%;
    text-align: left;
  }

  .info button {
    width: 100px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0.6em;
    color: white;
    background-color: #2ea1b4;
    transition: 0.5s background-color ease-in;
  }

  .info button:hover {
    transition: background-color 0.5s ease-out;
    background-color: #20707e;
  }


  .container_work_second {
    display: flex;
    align-items: center;
    position: relative;
    top: -20px;

    flex-direction: row-reverse;

    animation: showTwo 2s forwards;
  }

  .container_work_second img {
    width: 60%;
    height: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
  }

  @keyframes showFirst {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }

  @keyframes showTwo {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3em;
  }

  .container_work_first {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: showFirst 2s forwards;
  }

  .container_work_first img {
    width: 90%;
    height: auto;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  .info h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
  }

  .info p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    width: 90%;
    text-align: justify;
  }

  .info button {
    width: 100px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0.6em;
    color: white;
    background-color: #2ea1b4;
    transition: 0.5s background-color ease-in;
  }

  .info button:hover {
    transition: background-color 0.5s ease-out;
    background-color: #20707e;
  }


  .container_work_second {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 15%;
    animation: showTwo 2s forwards;
  }

  .container_work_second img {
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
  }

  @keyframes showFirst {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }

  @keyframes showTwo {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3em;
  }

  .container_work_first {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: showFirst 2s forwards;
  }

  .container_work_first img {
    width: 100%;
    height: auto;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  .info h1 {
    width: 90%;
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
  }

  .info p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    width: 90%;
    text-align: justify;
  }

  .info button {
    width: 100px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0.6em;
    color: white;
    background-color: #2ea1b4;
    transition: 0.5s background-color ease-in;
  }

  .info button:hover {
    transition: background-color 0.5s ease-out;
    background-color: #20707e;
  }


  .container_work_second {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 25%;
    animation: showTwo 2s forwards;
  }

  .container_work_second img {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
  }

  @keyframes showFirst {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }

  @keyframes showTwo {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
}