.container {
  background-color: #fafafa;
  display: flex;
  padding: 5em;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.services_description {
  /* flex: 0 0 500px; */
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;

}

.all_services {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.service_one {
  padding: 2em 1em;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.service_two {
  padding: 2em 1em;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.service_three {
  padding: 2em 1em;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.icon_service {
  border-radius: 50%;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  border: none;
  display: block;
  color: aqua;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 1px #e6e6e6;
  box-shadow: 0px 0px 10px 1px #e6e6e6;
  margin-bottom: 2%;
}

.pc {
  border-radius: 100%;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5cb4c2;
  text-align: left;

}

.table {
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  color: #5cb4c2;
}

.light {
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  color: #5cb4c2;
}

.detail_service h4 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.detail_service p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.detail_service a {
  list-style-type: none;
  font-weight: bold;
  color: #5cb4c2;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
  gap: 0.5em;
}



.button_pagination {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: block;
  background-color: #e5e5e5;
  outline: none;
  border: none;
  transition: all 0.5s ease;
  margin-bottom: 5%;
}

.button_pagination:focus {
  background-color: #2da0b3;
}

@media (max-width: 1080px) {
  .container {
    background-color: #fafafa;
    display: flex;
    padding: 5em;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  .services_description {
    /* flex: 0 0 500px; */
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

  }

  .all_services {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }

  .service_one {
    padding: 2em 1em;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .service_two {
    padding: 2em 1em;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .service_three {
    padding: 2em 1em;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .icon_service {
    border-radius: 50%;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em;
    border: none;
    display: block;
    color: aqua;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 1px #e6e6e6;
    box-shadow: 0px 0px 10px 1px #e6e6e6;
    margin-bottom: 2%;
  }

  .pc {
    border-radius: 100%;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5cb4c2;
    text-align: left;

  }

  .table {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    color: #5cb4c2;
  }

  .light {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    color: #5cb4c2;
  }

  .detail_service h4 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .detail_service p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .detail_service a {
    list-style-type: none;
    font-weight: bold;
    color: #5cb4c2;
    text-transform: uppercase;
    text-decoration: none;
  }

  .pagination {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 1em;
    gap: 0.5em;

  }

  .button_pagination {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: block;
    background-color: #e5e5e5;
    outline: none;
    border: none;
    transition: all 0.5s ease;
    margin-bottom: 5%;
  }

  .button_pagination:focus {
    background-color: #2da0b3;
  }
}

@media (max-width: 800px) {
  .container {
    background-color: #fafafa;
    display: flex;
    padding: 5em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  .services_description {
    /* flex: 0 0 500px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

  }

  .all_services {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }

  .service_one {
    padding: 2em 1em;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .service_two {
    padding: 2em 1em;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .service_three {
    padding: 2em 1em;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .icon_service {
    border-radius: 50%;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em;
    border: none;
    display: block;
    color: aqua;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 1px #e6e6e6;
    box-shadow: 0px 0px 10px 1px #e6e6e6;
    margin-bottom: 2%;
  }

  .pc {
    border-radius: 100%;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5cb4c2;
    text-align: left;

  }

  .table {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    color: #5cb4c2;
  }

  .light {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    color: #5cb4c2;
  }

  .detail_service h4 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .detail_service p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .detail_service a {
    list-style-type: none;
    font-weight: bold;
    color: #5cb4c2;
    text-transform: uppercase;
    text-decoration: none;
  }

  .pagination {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 1em;
    gap: 0.5em;

  }

  .button_pagination {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: block;
    background-color: #e5e5e5;
    outline: none;
    border: none;
    transition: all 0.5s ease;
    margin-bottom: 5%;
  }

  .button_pagination:focus {
    background-color: #2da0b3;
  }

}

@media (max-width: 475px) {
  .container {
    background-color: #fafafa;
    display: flex;
    padding: 5em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  .services_description {
    /* flex: 0 0 500px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

  }

  .all_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .service_one {
    padding: 2em 1em;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .service_two {
    padding: 2em 1em;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .service_three {
    padding: 2em 1em;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .icon_service {
    border-radius: 50%;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em;
    border: none;
    display: block;
    color: aqua;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 1px #e6e6e6;
    box-shadow: 0px 0px 10px 1px #e6e6e6;
    margin-bottom: 2%;
  }

  .pc {
    border-radius: 100%;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5cb4c2;
    text-align: left;

  }

  .table {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    color: #5cb4c2;
  }

  .light {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    color: #5cb4c2;
  }

  .detail_service h4 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .detail_service p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .detail_service a {
    list-style-type: none;
    font-weight: bold;
    color: #5cb4c2;
    text-transform: uppercase;
    text-decoration: none;
  }

  .pagination {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 1em;
    gap: 0.5em;

  }

  .button_pagination {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: block;
    background-color: #e5e5e5;
    outline: none;
    border: none;
    transition: all 0.5s ease;
    margin-bottom: 5%;
  }

  .button_pagination:focus {
    background-color: #2da0b3;
  }
}