* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner_container {
  background-color: black;
}

.banner_container img {
  width: 100%;
  height: 750px;
  opacity: 0.5;

}

.banner_container img::before {
  content: "";
  background: black;

}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: absolute;
  inset: 25% 0;
  background-color: #00000000;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;

}

.simple_text {
  font-size: 2em;
  letter-spacing: 10px;
  color: white;
  margin: auto;
}

.text_border {
  border: 2px solid white;
  letter-spacing: 5px;
  color: white;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  padding: 0.2em 0em;
  margin: 1em 4em;
}

@media (max-width: 1080px) {


  .banner_container {
    background-color: black;
  }

  .banner_container img {
    width: 100%;
    height: 750px;
    opacity: 0.5;

  }

  .banner_container img::before {
    content: "";
    background: black;

  }

  .text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    inset: 25% 0;
    background-color: #00000000;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

  }

  .simple_text {
    font-size: 2em;
    letter-spacing: 10px;
    color: white;
    margin: auto;
  }

  .text_border {
    border: 2px solid white;
    letter-spacing: 5px;
    color: white;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    padding: 0.2em 0em;
    margin: 1em 4em;
  }
}

@media (max-width: 800px) {
  .banner_container {
    background-color: black;
  }

  .banner_container img {
    width: 100%;
    height: 750px;
    opacity: 0.5;

  }

  .banner_container img::before {
    content: "";
    background: black;

  }

  .text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    inset: 25% 0;
    background-color: #00000000;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

  }

  .simple_text {
    font-size: 1.5em;
    letter-spacing: 10px;
    color: white;
    margin: auto;
  }

  .text_border {
    border: 2px solid white;
    letter-spacing: 5px;
    color: white;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    padding: 0.2em 0em;
    margin: 1em 4em;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 475px) {
  .banner_container {
    background-color: black;
  }

  .banner_container img {
    width: 100%;
    height: 300px;
    opacity: 0.5;

  }

  .banner_container img::before {
    content: "";
    background: black;

  }

  .text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    inset: 80% 0;
    background-color: #00000000;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    top: 35%;
  }

  .simple_text {
    font-size: 12px;
    letter-spacing: 10px;
    color: white;
    margin: auto;
  }

  .text_border {
    border: 2px solid white;
    letter-spacing: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em 0em;
    margin: 1em 2em;
    width: 50%;
    margin: auto;
  }
}